<div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'></div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content' ng-transclude>
      <form ng-submit='addNewPerson()' novalidate>
        <p>
          Invite someone
        </p>
        <p>
        <label>Name<label>
        <input type='name' ng-model='name'></input>
        </p>
        <p>
        <label>Score<label>
        <input type='numeric' ng-model='score'></input>
        </p>
        <input type='submit'></input>
      </form>
    </div>
  </div>
</div>
