<p>Score keeper</p>

<p>
<button ng-click="showInviteModal()">Add Person</button>
</p>


<div class="error" ng-if="errors.length > 0" >
  <ul>
    <li ng-repeat="error in errors">{{error}}</li>
  </ul>
</div>

<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
  Previous
</button> {{currentPage+1}}/{{numberOfPages()}}
<button ng-disabled="currentPage >= players.length/pageSize - 1" ng-click="currentPage=currentPage+1">
  Next
</button>

<!-- <label>Search <input ng&#45;model="searchName"></label><br> -->

<label>Number per page</label>
<select ng-model="pageSize" id="pageSize" class="form-control">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
</select>

<ul>
  <li ng-repeat="player in players | startFrom:currentPage*pageSize | limitTo:pageSize">
    <button ng-click="increment(player.name)">Increment</button>
    <button ng-click="showModal(player)">Edit</button>
    <button ng-click="remove(player.name)">Delete</button>
    <span ng-if='!player.spinner'>
      {{player.name}} - Score: {{player.score}}</span>
    <img ng-if='player.spinner' src='spinner.svg' height='20px' width='20px'></img>
  </li>

</ul>

<invite-modal-dialog show='inviteModalShown' width='750px' height='60%' players='players' errors='errors'></invite-modal-dialog>
<edit-modal-dialog show='modalShown' width='750px' height='60%' player='player' errors='errors'></edit-modal-dialog>

